<div class="account-management-container">
    <h1>
        <%= title %>
    </h1>

    <%- messages() %>

        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>

                <div class="account-content">
                    <h2>You're logged in</h2>
                </div>
</div>